:root {
    --a-spacing: 12px;
    --a-spacing--large: calc(var(--a-spacing) * 2);
    --a-radius: 2px;
    --a-primary-color: #65816B;
    --a-white-color: #fff;
    --a-black-color: #000;
    --a-light-color: #efefef;
    --a-dark-color: #494949;
}
html {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}

/* Colors */
.a-primary {
    background: var(--a-primary-color);
}
.a-primary--text {
    color: var(--a-primary-color);
}
/* Text */
.a-text-bold {
    font-weight: 700;
}
.a-text-light {
    font-weight: 100;
}
.a-text-center {
    text-align: center;
}
/* Flex */
.a-flex {
    display: flex;
}
.a-flex-row {
    flex-direction: row;
}
.a-flex-column {
    flex-direction: column;
}
.a-align-self-center {
    align-self: center;
}
.a-align-self-end {
    align-self: end;
}
.a-justify-content-center {
    justify-content: center;
}
}