html {
    /* font-family: mon; */
}

a {
    color: black;
}

.b-topnav {
    width: 93%;
    margin: 20px auto;
}

main {
    width: 93%;
    margin: 0 auto;
}

.clearfix {
    overflow: auto;
}

.b-heading {
    font-family: 'Montserrat', sans-serif;
}

.b-body {
    font-family: 'Roboto', sans-serif;
}

.b-logo svg {
    height: 30px;
    fill: #65816B;
}

.b-logo .b-logo-name,
.b-title {
    font-size: .8em;
    line-height: 2.5em;
    /* background-color: yellow; */
    width: 75%;
    float: right;
}

.b-row {
    width: 100%;
}

.b-col-6 {
    width: 50%;
    float: left;
}

.b-col-3 {
    width: 25%;
    float: left;
}

.b-bottomnav {
    font-family: 'Roboto', sans-serif;
    font-size: .7em;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    margin-bottom: 15px;
}

.b-bottomnav svg {
    height: 30px;
}

.b-bottomnav .b-helper {
    padding-top: 5px;
}

.b-center {
    text-align: center;
}

.b-right {
    text-align: right;
}