html {
    /* font-family: mon; */
}

body {
    margin: 0;
}

a {
    color: black;
}

.b-topnav {
    width: 90%;
    margin: 20px auto;
}

nav {
    background-color: white;
    height: 70px;
    position: fixed;
    width: 100%;
}

main {
    width: 93%;
    margin: 0 auto;
}

.clearfix {
    overflow: auto;
}

.b-heading {
    font-family: 'Montserrat', sans-serif;
}

.b-body {
    font-family: 'Roboto', sans-serif;
}

.b-logo svg {
    height: 30px;
    fill: #65816B;
}

.b-logo .b-logo-name,
.b-title {
    width: 75%;
    float: right;
    line-height: 2.5em;
}

.b-heading-text {
    font-size: .8em;
    text-transform: uppercase;
}

.b-body-text {
    font-size: 1em;
    line-height: .5em;
}

.b-row {
    width: 100%;
}

.b-col-6 {
    width: 50%;
    float: left;
}

.b-col-3 {
    width: 25%;
    float: left;
}

.b-bottomnav {
    font-family: 'Roboto', sans-serif;
    font-size: .7em;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}

.b-bottomnav a {
    text-decoration: none;
}

.b-bottomnav svg {
    height: 30px;
}

.b-bottomnav .b-helper {
    padding-top: 5px;
}

.b-center {
    text-align: center;
}

.b-right {
    text-align: right;
}

.b-nav-spacer {
    height: 80px;
    width: 100%;
}

.b-bottomnav-spacer {
    height: 100px;
    width: 100%;
}

.b-queries-container,
.b-clients-container {
    /* padding-top: 10px; */
    width: 93%;
    margin: 0 auto;
}

.b-queries-container .b-section:first-child {
    border-top: 1px solid #A7A7A7;
}

.b-section {
    /* background-color: red;; */
    padding: 5px 0;
    border-bottom: 1px solid #A7A7A7;
}

.b-read {
    font-weight: 300;
}

.b-back svg {
    height: 11px;
}

.b-back .b-heading-text {
    /* line-height: 3em; */
    margin-left: 10px;
    font-size: .9em;
}

.b-cropname {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 3.5em;
}

.b-label {
    text-transform: uppercase;
    font-size: .8em;
    padding-bottom: 3px;
}

.b-detail {
    text-transform: uppercase;
    font-size: 1.2em;
    padding-bottom: 15px;
}

.b-left-col {
    width: 50%;
    /* background-color: red; */
    float: left;
}

.b-right-col {
    width: 50%;
    /* background-color: yellow; */
    float: right;
}

.b-client-details-container {
    padding-bottom: 130px;
}

.b-msg-left {
    width: 50%;
    /* background-color: blue; */
    /* background-color: red; */
    /* padding: 20px; */
    /* margin-top: 20px; */
    /* margin-bottom: 5px; */
}

.b-msg-right {
    /* width: auto; */
    /* float: right; */
    /* max-width: 50%; */
    text-align: right;
    /* height: auto; */
    margin-left: 50%;
}

.b-msg-left .b-bubble {
    width: 100%;
    background-color: #F0F0F0;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    font-family: 'Roboto', sans-serif;
}

.b-msg-right .b-bubble {
    width: auto;
    background-color: #DEDECB;
    padding: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    font-family: 'Roboto', sans-serif;
}

.b-bubble .b-message {
    margin-bottom: 10px;
}

.b-btn {
    text-transform: uppercase;
    background-color: red;
    padding: 10px;
    margin-top: 8px;
    /* margin-bottom: 7px; */
    text-align: center;
    color: white;
    font-weight: 700;
    border-radius: 4px;
    font-size: .9em;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.b-date {
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
}

.b-btn-y {
    background-color: #65816B;
}

.b-btn-n {
    background-color: #924949;
}

.b-btn-a {
    background-color: #4B6C9D;
}

.b-msg-textbox {
    
    height: 150px;
}

.b-msg-textbox textarea {
    width: calc(100% - 40px);
    height: 3em;
    background-color: #F6F6F6;
    border: transparent;
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}

.b-msg-textbox .b-btn {
    width: 70px;
    float: right;
}

